.header-style3{
    padding: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/*======================================
HEADER (top part of page)
======================================*/

.header-style3.site-header {position: relative;	z-index: 999;}
.header-style3.site-header ul,
.header-style3.site-header ol {margin-bottom: 0;}

/*-------------------------------------
	without top bar
-------------------------------------*/
.header-style3 .extra-nav .extra-cell > a{	font-size:18px;}
/*____ LOGO ( company identify  symbol )
======================================*/

/*-------------------------------------
	logo for header 
-------------------------------------*/

.header-style3 .logo-header {
	min-width: 100px;
	padding-left: 80px;
	font-size: 36px;
	color: var(--primary);
	margin: 0px;
	position: relative;
	z-index: 11;
}

.header-style3 .logo-header-inner {display: table-cell;vertical-align: middle;height: 100%;}
.header-style3 .logo-header-inner img {max-width: 70px;max-height: 100%;}

.hrd-right-section{padding-right: 80px;}
.hrd-mid-section{margin-right: 0px; margin-left: auto;}
@media only screen and (max-width:1700px){
	
	.hrd-mid-section {
		margin-right: 0px;
		margin-left: 0px;
		max-width: 991px !important;
		width: 100%;
	}
}
@media only screen and (max-width:1560px){
	.hrd-mid-section {
		max-width: 970px !important;
	}
	.hrd-right-section{padding-right: 15px;}
	.header-style3 .logo-header{padding-left: 15px;}
}
@media only screen and (max-width:1440px){
	.hrd-mid-section {
		max-width: 940px !important;
	}
}
@media only screen and (max-width:1365px){
	.hrd-mid-section {
		margin-right:auto;
		margin-left:auto;
		max-width: 900px !important;
	}
	.header-style3{display: block;}
	.header-style3 .logo-header {
		padding: 20px 0px 0px 0px;
		text-align: center;
		width: 100%;
	}
	.header-style3 .logo-header-inner{
		display: inline-block;
	}
	.hrd-right-section{display: none;}
}


/*-------------------------------------
	eamil-phone (left) 
-------------------------------------*/
.header-style3 .e-p-bx{padding:0px;}
.header-style3 .e-p-bx li {
	display: inline;
	font-size: 16px;
	line-height:20px;
	font-weight: 400;
	color: var(--secondary-light);
	position:relative;
	padding-right: 10px;
	margin-right: 10px;

}
.header-style3 .e-p-bx li:last-child{padding-right: 0px;	margin-right: 0x;}
.header-style3 .e-p-bx li:after{
	content:'/';
	position:absolute;
	right:3px;
	top:50%;
	transform: translateY(-50%);
	color:var(--secondary-light);
	height:100%;
	width:1px;
}
.header-style3 .e-p-bx li:last-child:after{display: none;}
.header-style3 .e-p-bx li span{text-transform: uppercase;display: inline-block;padding-right: 10px;font-weight: 600;}
.header-style3 .e-p-bx li a {color: var(--primary);}
.header-style3 .e-p-bx li i {margin-right: 5px;vertical-align: middle;}

/*-------------------------------------
	social-links (right) 
-------------------------------------*/
.header-style3 .social-bx {margin:0px;}
.header-style3 .social-bx li{font-size: 14px;	margin: 0;	position: relative;}
.header-style3 .social-bx li a{font-size:14px;	padding:0px; width:50px;	text-align:right; display:inline-block; color: var(--secondary-light);}
.header-style3 .social-bx.text-white li a{color:#fff;}
.header-style3 .social-bx li a:hover{color: var(--primary);}

/*-----------------------------------*/

.header-style3 .main-bar{	position: relative;	width: 100%;	padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header-style3 .main-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 0px;

}
@media only screen and (max-width: 991px) {
	.header-style3 .main-bar{
		display: inline-block;
		height: 50px;
	}
	.header-style3 .is-fixed .main-bar{height: auto; padding: 0px 15px;}
	.header-style3 .sx-language-dd{max-width: 180px;}
}

.header-style3 .main-bar::after,
.header-style3 .main-bar::after {clear: both;content: "";display: table;}

.header-style3 .site-search{
	background-color:var(--primary);;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
@media only screen and (max-width: 540px) {
	.header-style3 .site-search{width: 160px; box-shadow: none;}
}
.header-style3 .site-search:hover{box-shadow: none;}
.header-style3 .site-search .form-control {background-color: transparent;height: 50px;border: none;}
.header-style3 .site-search button {background-color: transparent;	color: #fff;text-transform: uppercase;height: 50px;padding: 0px 15px;
	font-size: 14px;}

.header-style3 .site-search .form-control::-webkit-input-placeholder {color: #fff;font-size: 14px;font-weight:400;}
.header-style3 .site-search .form-control::-moz-placeholder {color: #fff;font-size: 14px;font-weight:400;}
.header-style3 .site-search .form-control:-ms-input-placeholder {color: #fff;font-size: 14px;font-weight:400;}
.header-style3 .site-search .form-control:-moz-placeholder {color: #fff;font-size: 14px;font-weight:400;}

/*-------------------------------------
	mega-menu
-------------------------------------*/
.header-style3 .navbar-toggler {border: none;margin-top: 24px;margin-bottom: 24px;margin-left: 0px;margin-right: -10px;padding: 12px 10px;}

.header-style3 .navbar-toggler .icon-bar{background: #000;height: 3px;border-radius: 0;display: block;width: 22px;}
.header-style3 .navbar-toggler .icon-bar + .icon-bar {margin-top: 4px;}

.header-style3 .navbar-toggler{display: none;margin-top: 14px;margin-bottom: 14px;}
.header-style3 .header-nav {position: relative;padding: 0px;z-index: 7;}
.header-style3 .header-nav .nav {float: right;display: flex;justify-content: flex-end;flex-direction: inherit;}
.header-style3 .header-nav .nav i {font-size: 9px;margin-left: 3px;margin-top: -3px;vertical-align: middle;opacity: 0.7;}
.header-style3 .header-nav .nav>li {font-weight: 500;position: relative;text-transform: uppercase;margin: -10px 0;padding: 10px 0;}

.header-style3 .header-nav .nav>li>a {
	border-radius: 0;
	display:inline-block;
	padding: 24px 20px;
	cursor: pointer;
	margin: -9px 0;
	font-weight: 600;
	text-transform: capitalize;
	font-family: var(--title-family);
	font-size: 18px;
	line-height: 40px;
	color:var(--secondary);
	position: relative;
	transition: var(--transition);
}
.header-style3 .header-nav .nav>li:first-child a{padding-left: 0px;}
.header-style3 .header-nav .nav>li>a:after {
	content: '';
	position: absolute;
	left: 100%;
	bottom:0%;
	height:4px;
	width: 0px;
	z-index: -1;
	background-color:var(--primary);
	transition: all 0.4s ease;
}

.header-style3 .header-nav .nav>li>a:hover:after {
	width: 100%;
	left: 0;
	transition: width 0.3s ease;
	z-index: -1;
}



.header-style3 .header-nav .nav>li>a:hover {background-color: transparent;color: #212427;}
.header-style3 .header-nav .nav>li>a:active,
.header-style3 .header-nav .nav>li>a:focus {background-color: transparent;}

.header-style3 .header-nav .nav>li.active>a,
.header-style3 .header-nav .nav>li.current-menu-item>a {background-color: transparent;color: var(--primary);}
.header-style3 .header-nav .nav>li:hover>a {color:var(--primary);}

.header-style3 .header-nav .nav>li:hover>.sub-menu,
.header-style3 .header-nav .nav>li:hover>.mega-menu {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.header-style3 .header-nav .nav>li .sub-menu {
	background-color: #ffffff;
	border: 1px solid #f4f4f4;
	display: block;
	left: 0;
	top: 100%;
	list-style: none;
	margin: 20px 0 0;
	opacity: 0;
	padding: 0px;
	position: absolute;
	visibility: hidden;
	width: 220px;
	z-index: 10;
}

.header-style3 .header-nav .nav>li .sub-menu li {position: relative;text-transform: none;}
.header-style3 .header-nav .nav>li .sub-menu li a {
	color: #000;
	display: block;
	font-size: 13px;
	padding: 10px 20px;
	overflow: hidden;
	border-left:0px solid transparent;	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}

.header-style3 .header-nav .nav>li .sub-menu li a:hover {color: #000;text-decoration: none;}
.header-style3 .header-nav .nav>li .sub-menu li a:hover:after {width: 4px;	left: -1px;}
.header-style3 .header-nav .nav>li .sub-menu li:hover>a {color: #000;background-color: #f6f6f6;}

.header-style3 .header-nav .nav>li .sub-menu li:last-child {border-bottom: 0px;}
.header-style3 .header-nav .nav>li .sub-menu li .fa {color: #000;display: block;float: right;position: absolute;right: 10px;top: 1px;}




.header-style3 .header-nav .nav>li .sub-menu li:hover .fa {color: #000;}
.header-style3 .header-nav .nav>li .sub-menu li>.sub-menu {
	left: 220px;
	top: 0px;
	margin: 0 0 0 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header-style3 .header-nav .nav>li .sub-menu li:hover>.sub-menu {left: 220px;margin: 0px;opacity: 1;top: -1px;visibility: visible;}
.header-style3 .header-nav .nav>li .sub-menu li:hover>.sub-menu:before {
	background-color: transparent;
	bottom: 0px;
	content: '';
	display: block;
	height: 100%;
	left: -6px;
	position: absolute;
	top: 0px;
	width: 6px;
}

.header-style3 .header-nav .nav>li.has-mega-menu {	position: inherit;}
.header-style3 .header-nav .nav>li .mega-menu li a>i {font-size: 13px;margin-right: 5px;min-width: 20px;}

.header-style3 .header-nav .nav>li .mega-menu {
	background-color: #ffffff;
	border: 1px solid #e9e9e9;
	display: table;
	left: 0px;
	top: 88px;
	padding: 20px 0px;
	list-style: none;
	opacity: 0;
	position: absolute;
	right: 0px;
	visibility: hidden;
	width: 100%;
	margin-top: 20px;
	z-index: 10;
}

.header-style3 .header-nav .nav>li .mega-menu>li {	display: table-cell;padding: 10px 0;position: relative;	vertical-align: top;width: 25%;
	text-transform: none;}

.header-style3 .header-nav .nav>li .mega-menu>li:after {
	content: "";
	background-color: rgba(204, 204, 204, 0.4);
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	width: 1px;
	height: 100%;
}

.header-style3 .header-nav .nav>li .mega-menu>li:last-child:after {display: none;}
.header-style3 .header-nav .nav>li .mega-menu>li>a {color: #000;display: block;font-size: 15px;padding: 0 20px;}
.header-style3 .header-nav .nav>li .mega-menu>li ul {list-style: none;margin: 10px 0px 0px 0px;padding: 0px;}

.header-style3 .header-nav .nav>li .mega-menu>li ul a {color: #474747;display: block;font-size: 13px;line-height: 34px;padding: 2px 20px;}
.header-style3 .header-nav .nav>li .mega-menu>li ul a:hover {color: var(--primary);;background-color: #F2F2F2;}
.header-style3 .header-nav .nav>li.menu-item-has-children:before {
	content: "\f078";
	display: block;
	font-family: "FontAwesome";
	right: 4px;
	position: absolute;
	top: 50%;
	color: #999;
	margin-top: -8px;
	font-size: 8px;
}


/*-- Submenu direction---*/
.header-style3 .header-nav .nav>li.submenu-direction .sub-menu {left: auto;right: 0;}
.header-style3 .header-nav .nav>li.submenu-direction .sub-menu li>.sub-menu {left: auto;right: 220px;margin: 0 20px 0 0;}
.header-style3 .header-nav .nav>li.submenu-direction .sub-menu li:hover>.sub-menu {left: auto;	right: 220px;margin: 0 0 0 0;}
.header-style3 .has-child .submenu-toogle {
	position: absolute;
	right: 4px;
	top: 4px;
	color: #000;
	background-color: transparent;
	z-index: 900;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	display: none;
}

.header-style3 .header-nav .has-child li .submenu-toogle {opacity: 0.9;}
.header-style3 .header-nav .has-child.nav-active>a+.submenu-toogle.fa.fa-angle-right:before {content: "\f107";}

/*-------------------------------------
	nav dark version
-------------------------------------*/
.header-style3 .nav-dark.header-nav .nav>li .sub-menu li:hover>a {	color: var(--primary);;	background-color: transparent;}
.header-style3 .nav-dark.header-nav .nav>li .sub-menu li .fa {color: var(--primary);;}
.header-style3 .nav-dark.header-nav .nav>li .sub-menu li:hover .fa {color: var(--primary);;}
.header-style3 .nav-dark.header-nav .nav>li .sub-menu,
.header-style3 .nav-dark.header-nav .nav>li .mega-menu {background-color: #000;border: 1px solid rgba(0, 0, 0, 0.2);}
.header-style3 .nav-dark.header-nav .nav>li .sub-menu li:last-child {border-bottom: 0px;}

.header-style3 .nav-dark.header-nav .nav>li .sub-menu li a{color: #fff;}

.header-style3 .nav-dark.header-nav .nav>li .mega-menu>li ul a{color: #fff;}
.header-style3 .nav-dark.header-nav .nav>li .mega-menu>li>a {color: var(--primary);;}

.header-style3 .nav-dark.header-nav .nav>li .mega-menu>li ul a:hover {background-color: transparent;color: var(--primary);;}

.header-style3 .nav-dark.header-nav .nav>li .mega-menu>li:after {background-color: rgba(0, 0, 0, 0.2);}






@media only screen and (max-width: 991px) {

	/* responsive strat when media screen [991px] css START*/

	.header-style3 .navbar-toggler {
		display: block;
		margin-top: 0px;
		margin-bottom: 0px;
		float: right;
		outline: none !important;
		padding: 0px 10px 0px 0px;
	}
	.header-style3 .navbar-collapse.collapse {align-items: start;}

	.header-style3 .header-nav .nav {float: none;margin: 0px;background: #fff;width:100%; display: block; height: 100%;}
	.header-style3 .header-nav .nav li {float: none;width: 100%;display: block;}
	
	.header-style3 .header-nav .nav i {float: right;}
	.header-style3 .header-nav .nav li .sub-menu>li a {padding-left: 30px;}
	.header-style3 .header-nav .nav li.has-child {	position: relative;	}
	.header-style3 .header-nav .nav li .sub-menu,
	.header-style3 .header-nav .nav li .mega-menu {opacity: 1;margin: 0 !important;}
	.header-style3 .header-nav .nav i {margin-top: 6px;}
	.header-style3 .header-nav .nav li.has-child.nav-active>a {color: var(--primary);;}

	.header-style3 .header-nav .nav>li {margin: 0;	padding: 0;}
	.header-style3 .header-nav .nav>li.active>a,
	.header-style3 .header-nav .nav>li.current-menu-item>a {color: #000;}
	.header-style3 .header-nav .nav>li>a:hover,
	.header-style3 .header-nav .nav>li>a:active,
	.header-style3 .header-nav .nav>li>a:focus {background-color: #f0f0f0;text-decoration: none;}
	.header-style3 .header-nav .nav>li>a {padding: 12px 15px;border-top: 1px solid #E9E9E9;color: #777;	margin: 0;padding: 10px 15px;font-weight: 600;display:block;}

	.header-style3 .header-nav .nav>li .sub-menu>li,
	.header-style3 .header-nav .nav>li .mega-menu>li {float: none;display: block;width: auto;padding: 0px;}
	.header-style3 .header-nav .nav>li .sub-menu li a {font-size: 12px;}

	.header-style3 .header-nav .nav>li .mega-menu>li:after {display: none;}

	.header-style3 .header-nav .nav>li ul,
	.header-style3 .header-nav .nav>li .sub-menu,
	.header-style3 .header-nav .nav>li .mega-menu {display: none;position: static;visibility: visible;width: auto;background: #f9f9f9;}

	.header-style3 .header-nav .nav>li ul.mega-menu ul {display: block; margin-bottom: 10px;}
	.header-style3 .header-nav .nav>li ul.mega-menu li:hover ul {display: block;}

	.header-style3 .has-child .submenu-toogle {display: block;	width: 100%;text-align: right;}
	header .logo {display: block;padding: 4px 0;}

	.header-style3 .is-fixed .color-fill .header-nav .nav>li {margin: 0;padding: 0;	}
	.header-style3 .is-fixed .color-fill .header-nav .nav>li>a {margin: 0;padding: 10px 15px;display: block;}
	.header-style3 .is-fixed#header-part .navbar-toggler {	margin: 15px 0;}
	.logo-header {width: 120px;}

	.header-style3 .nav-dark.header-nav {border-bottom: 1px solid rgba(0, 0, 0, 0.2);	}
	.header-style3 .nav-dark.header-nav .nav {	background-color: #000;	}
	.header-style3 .nav-dark.header-nav .nav>li>a {border-top: 1px solid rgba(0, 0, 0, 0.2);color: #fff;display:block;}
	.header-style3 .nav-dark.header-nav .nav>li>a:hover,
	.header-style3 .nav-dark.header-nav .nav>li>a:active,
	.header-style3 .nav-dark.header-nav .nav>li>a:focus {background-color: #000;color: var(--primary);;	}
	.header-style3 .nav-dark.header-nav .nav>li ul,
	.header-style3 .nav-dark.header-nav .nav>li .sub-menu,
	.header-style3 .nav-dark.header-nav .nav>li .mega-menu {background-color: #000;}
	.header-style3 .nav-dark.header-nav .nav>li .sub-menu{background-color: #000;}
	.header-style3 .nav-dark .has-child .submenu-toogle{color:#fff;}

	.header-style3 .main-bar .container{flex-direction:row-reverse;max-width: inherit;}
}


@media only screen and (max-width:768px) {
	.header-style3 .is-fixed .extra-nav {padding: 13px 7px;}
}

@media only screen and (max-width:767px) {
	.header-style3 .is-fixed .extra-nav {padding: 13px 0px;}
	.header-style3 .main-bar,
	.header-style3 .is-fixed .main-bar{padding:7px 0px;}
	.header-style3 .is-fixed .color-fill.main-bar {padding: 7px 20px;}

	.header-style3 .top-bar-nav ul li:last-child{
		display: none;
	}
	.header-style3 .is-fixed .extra-nav{
		padding: 0px;
	}
}

@media only screen and (max-width:540px) {
	.header-style3 .is-fixed .navbar-toggler {	margin-bottom: 0px;}
}

@media only screen and (max-width: 540px) {
	.header-style3 .main-bar {	padding-left: 0px;	padding-right: 0px;	}
	.header-style3 .header-style3 .navbar-toggler {margin-left: 5px;}
	.header-style3 .extra-nav .extra-cell {margin-left: 0px;padding-left:10px;}
	.header-style3 .top-bar-nav{
		display: none;
	}
	.header-style3 .hrd-mid-section .top-bar > .justify-content-between{justify-content: center !important;}
	.header-style3 .social-bx li a{text-align: center;}
	.header-style3 .hrd-mid-section .top-bar .extra-cell{padding: 0px;}
}


.header-style3 .is-fixed .color-fill.main-bar {background-color: var(--bg-light);}



.header-style3 .top-bar{
	padding: 14px 0px;
    border-bottom: 1px solid rgba(37, 26, 55, 0.1);
}
.header-style3 .top-bar-nav{margin-right: 30px;}
.header-style3 .top-bar-nav ul{
	list-style: none;
}
.header-style3 .top-bar-nav ul li{
	display: inline-block;
	padding: 0px 15px;
	position: relative;
}

.header-style3 .top-bar-nav ul li:first-child{
	padding-left: 0px;
}
.header-style3 .top-bar-nav ul li:after{
	content: '';
	position: absolute;
	width: 1px;
	height: 14px;
	background-color: var(--secondary-light);
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.header-style3 .top-bar-nav ul li:last-child:after{
	display: none;
}
.header-style3 .top-bar-nav ul li a{
	font-family: var(--common-family);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-transform: capitalize;
	color: var(--secondary-light)
}
.header-style3 .top-bar-nav ul li a:hover{
	color: var(--primary)
}

.header-style3 .top-bar .sx-topbar-right{display: flex;}

/*-------------------------------------
	when header is sticky
-------------------------------------*/

.header-style3 .sticky-no .main-bar {position: static !important;}

/*-------------------------------------
	when header is sticky 
-------------------------------------*/  
/* header sticky  */

/*____WHEN HEADER IS STICKY____*/

.header-style3 .is-fixed .main-bar {position: fixed;top: 0;left: 0;}
.header-style3 .is-fixed .extra-nav {padding: 13px 0;}

@media (max-width: 991px) {
	.header-style3 .header-nav .nav > li:first-child a {
		padding-left: 15px;
	 }
	 .header-style3 .header-nav .nav > li a {
		font-size: 14px;
		line-height: 26px;
	 }
	.header-style3.mobile-sider-drawer-menu .header-nav {
	  position: fixed;
	  width: 250px !important;
	  z-index: 999;
	  height: 100vh !important;
	  overflow-y: inherit !important;
	  left: -250px;
	  top: 0px;
	  transition: all 0.5s linear;
	  background-color: #fff;
	  display: flex;
	}
	.header-style3.mobile-sider-drawer-menu .header-nav .nav > li:hover > .sub-menu {
	  transition: none;
	}
	.header-style3.mobile-sider-drawer-menu .header-nav .nav > li .sub-menu li:hover > .sub-menu {
	  transition: none;
	}
	.header-style3.mobile-sider-drawer-menu.active .header-nav {
	  left: 0%;
	}
	.header-style3.mobile-sider-drawer-menu .icon-bar {
	  transition: all 0.5s linear;
	  position: relative;
	}
	.header-style3.mobile-sider-drawer-menu #mobile-side-drawer {
	  position: relative;
	  z-index: 1;
	}
	.header-style3.mobile-sider-drawer-menu.active .icon-bar.icon-bar-first {
	  transform: rotate(45deg) translateX(3px) translateY(2px);
	}
	.header-style3.mobile-sider-drawer-menu.active .icon-bar.icon-bar-three {
	  transform: rotate(-45deg) translateX(3px) translateY(-2px);
	}
	.header-style3.mobile-sider-drawer-menu .icon-bar.icon-bar-two {
	  position: relative;
	  right: 0%;
	}
	.header-style3.mobile-sider-drawer-menu.active .icon-bar.icon-bar-two {
	  position: absolute;
	  right: 100px;
	  opacity: 0;
	}
	.header-style3.mobile-sider-drawer-menu .is-fixed .header-nav .nav {
	  overflow: auto;
	  max-height: 100%;
	}
	.header-style3.mobile-sider-drawer-menu .header-fixed .header-nav .nav {
	  overflow: auto;
	  max-height: 100%;
	}
  }

  @media only screen and (max-width:767px){
	.header-style3 .top-bar-nav{
		margin-right: 0px;
	}
  }